/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20110126
   License: none (public domain)
*/

/* Other Main Base Stuff*/
  html, body, div, span, applet, object, iframe,
  h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial;
  }

/* Customizations needed for pics
TODO: Confirm this works on all webpages*/


    #profile{
      max-width: 100%;
      max-height:100%;
      border-radius: 50%
    }
    #robojacketsLogo{
      height: 100px;
    }
    #HOAGLogo{
      height: 60px;
    }
    #scnoLogo {
      height: 100px;
    }
    #nhsLogo {
      height: 65px;
    }
    #gtLogo {
      height: 35px;
    }

/* For large paragraph text */

/* Div Tag */
    div {
        word-wrap: break-word;
    }
/*  Header/Bodys */
    /*Title*/
    h1{
      font-family: Arial;
      font-size: 2.33em;
      margin-top: .75em;
      margin-bottom: .75em;
      margin-right: 0;
      margin-left: 5px;
      font-weight: bold;
      text-align: left;
        }
    /*SubHeadings*/
    h2{
      font-family: Arial;
      font-size: 1.5em;
      padding: 5px;
      font-weight: bold;
      text-align: left;
    }
    h3{
      font-family: Arial;
      font-size: 1em;
      margin-top: .75em;
      margin-bottom: .75em;
      margin-right: 0;
      padding: 5px;
      font-weight: bold;
      text-align: left;
    }
    h4{
      font-family: Arial;
      font-size: 1em;
      padding: 5px;
      text-align: left;
    }
    #largeText2{
      font-family: Arial;
      line-height: 30px;
    }
    #largeText{
      font-family: Arial;
      line-height: 30px;
      padding: 5px;
    }
    #indent {
      margin-left: 10px;
    }
/* Name in Nav Bar */
    #name {
      font-family: Arial;
        margin-top: .25em;
        margin-bottom: .25em;
        color: white;
        font-weight: normal;
    }
    .educationTitle {
      font-family: Arial;
      padding-bottom: 0%;
    }
/* Side By Side Continers*/
    .container{
      display: flex;
      height: auto;
      overflow-y: auto;
      }

    .container-long{
      display: flex;
      overflow-x: auto;
      overflow-y: visible;
      height: auto;
      }
      .container-long2{
        display: flex;

        }
    .flexed{
      max-width: 25%;
      height:1500px; /* prob gonna have to reduce this if I add stuf underneath*/
      align-self: top;
      margin-left: 5px;
      margin-right: 10px;
      padding-left: 5px;
    }
    .flex-item{
        flex-grow: 1;
        padding-right: 5px;
    }
    .flexed2{
      max-width: 75%;
      min-width: 50%;
      height: 50px;
      align-self: top;
      margin-left: 5px;
      margin-right: 40px;
    }
    .flex-item2{
        flex-grow: 1;
    }
    .flex-item3{
        flex-grow: 1;
        margin-top: 10px;
        margin-right: 10px;

    }
    .flex-item4{
        flex-grow: 1;
        margin-top: 10px;
        margin-right: 10px;

    }
    .flex-item5{
        flex-grow: 1;
    }
    caption {
      display: table-caption;
      text-align: center;
    }

    .row {
      display: flex;
    }

    .column {
      flex: 33.33%;
      padding: 5px;
    }
    .column2 {
      flex: 50%;
      padding: 5px;
    }
    .column3 {
      flex: 25%;
      padding: 5px;
    }

/* Nav Bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
    align-self: top;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: top;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropbtnIndex {
     font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 13px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
/* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* Styling for Comparison boxes*/
